<div class="flex min-h-screen w-full bg-[#F9FAFB]">
    <!-- sidebar (left-side) -->
    <div class="shrink-0">
        <app-sidebar></app-sidebar>
    </div>

    <!-- (right-side) -->
    <div class="flex-1 min-w-0">

        <!-- breadcrumb part -->
        <div class="w-full h-12.5 pt-4 ps-4 pb-4 bg-red-500">
            <p>Diplomas / Frontend Development / CSS Exam</p>
            <!-- <p-breadcrumb></p-breadcrumb> -->
        </div>

        <!-- header part -->
        <div class="w-full pt-6 ps-6 flex gap-2.5">
            <div class="flex items-center w-9.5 h-19.25 gap-2.5 opacity-100 border border-[#155DFC] bg-[#FFFFFF]">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 18L9 12L15 6" stroke="#155DFC" stroke-width="1.25" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>

            <div class="flex w-full items-center gap-4 p-4 bg-[#155DFC]">
                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M17.0438 16.875C17.4846 15.6219 18.3547 14.5652 19.4999 13.8921C20.6452 13.219 21.9917 12.973 23.301 13.1976C24.6102 13.4222 25.7978 14.1029 26.6533 15.1191C27.5088 16.1354 27.977 17.4216 27.975 18.75C27.975 22.5 22.35 24.375 22.35 24.375M22.5 31.875H22.5188M41.25 22.5C41.25 32.8553 32.8553 41.25 22.5 41.25C12.1447 41.25 3.75 32.8553 3.75 22.5C3.75 12.1447 12.1447 3.75 22.5 3.75C32.8553 3.75 41.25 12.1447 41.25 22.5Z"
                        stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <span class="font-semibold text-[32px] leading-[100%] text-white">
                    CSS Exam Questions
                </span>
            </div>
        </div>

        <!-- result part -->
        <div class="w-[257.5] h-193.75 overflow-hidden ps-6 pt-6 ">
            <!-- card section -->
            <div class="w-full h-full p-6] bg-[#FFFFFF]">

                <!-- progress digram -->
                <div class=" pt-6 ps-6 pe-6">
                    <div class="flex justify-between">
                        <span
                            class="font-normal text-[16px] leading-none tracking-normal align-middle text-[#6B7280]">Frontend
                            Development - CSS Quiz</span>
                        <span
                            class="text-[#6B7280] font-normal text-[14px] leading-none tracking-normal align-middle">Question
                            <span
                                class="text-[#155DFC] font-bold text-[14px] leading-none tracking-normal align-middle">25</span>
                            of 25
                        </span>
                    </div>
                    <div>
                        <div class="max-w-full rounded-none pt-1.5 ">
                            <p-progressbar [style]="{'--p-progressbar-value-background': '#155DFC'}" [showValue]="false"
                                [value]="100" />
                        </div>
                    </div>
                </div>

                <!-- title -->
                <div class="pt-10 ps-6">
                    <span class="text-[#155DFC] font-semibold text-[24px] leading-none tracking-normal">Results:</span>
                </div>

                <!-- result digram -->
                <div class="flex gap-4 pt-4 ">

                    <div
                        class="card justify-center w-68.75 h-128.5 p-9 flex flex-col gap-6 bg-[#BEDBFF] border border-[#EFF6FF]">
                        <p-chart type="doughnut" [data]="data" [options]="options" class="w-50.75 h-50.75 md:w-120" />

                        <div class="flex items-start ps-[59.5px] flex-col gap-2 mt-4">

                            <div class="flex items-center gap-2">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect width="16" height="16" fill="#00BC7D" />
                                </svg>

                                <span
                                    class="text-[#000000] font-medium text-[14px] leading-none tracking-normal align-middle">Correct:
                                    20</span>
                            </div>

                            <div class="flex items-center gap-2">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect width="16" height="16" fill="#EF4444" />
                                </svg>

                                <span
                                    class="text-[#000000] font-medium text-[14px] leading-none tracking-normal align-middle">Incorrect:
                                    25</span>
                            </div>

                        </div>
                    </div>

                    <div class="w-172.75 h-128.5 p-1.5 border border-dashed border-[#BEDBFF]">

                        <div class="flex flex-col gap-2.5 pt-4">
                            <span class="text-[#155DFC] font-semibold text-[20px] leading-none tracking-normal">What
                                does CSS stand for?</span>

                            <div class="card flex items-center w-164.75 h-12.5 p-4 gap-2.5 bg-[#FEF2F2] pt-2.5">
                                <p-radiobutton [(ngModel)]="checked" class="red-radio" [invalid]="!checked"
                                    variant="filled" />
                                <label
                                    class="text-[#1F2937] font-normal text-[14px] leading-none tracking-normal align-middle">Computer
                                    Style Sheets</label>
                            </div>

                            <div class="card flex items-center w-164.75 h-12.5 p-4 gap-2.5 bg-[#ECFDF5] pt-2.5">
                                <p-radiobutton [(ngModel)]="value" class="green-radio" variant="filled" />
                                <label
                                    class="text-[#1F2937] font-normal text-[14px] leading-none tracking-normal align-middle">Computer
                                    Style Sheets</label>
                            </div>

                        </div>
                        <div class="flex flex-col gap-2.5 pt-4">
                            <span class="text-[#155DFC] font-semibold text-[20px] leading-none tracking-normal">What
                                does CSS stand for?</span>

                            <div class="card flex items-center w-164.75 h-12.5 p-4 gap-2.5 bg-[#FEF2F2] pt-2.5">
                                <p-radiobutton [(ngModel)]="checked" class="red-radio" [invalid]="!checked"
                                    variant="filled" />
                                <label
                                    class="text-[#1F2937] font-normal text-[14px] leading-none tracking-normal align-middle">Computer
                                    Style Sheets</label>
                            </div>

                            <div class="card flex items-center w-164.75 h-12.5 p-4 gap-2.5 bg-[#ECFDF5] pt-2.5">
                                <p-radiobutton [(ngModel)]="value" class="green-radio" variant="filled" />
                                <label
                                    class="text-[#1F2937] font-normal text-[14px] leading-none tracking-normal align-middle">Computer
                                    Style Sheets</label>
                            </div>

                        </div>
                        <div class="flex flex-col gap-2.5 pt-4">
                            <span class="text-[#155DFC] font-semibold text-[20px] leading-none tracking-normal">What
                                does CSS stand for?</span>

                            <div class="card flex items-center w-164.75 h-12.5 p-4 gap-2.5 bg-[#FEF2F2] pt-2.5">
                                <p-radiobutton [(ngModel)]="checked" class="red-radio" [invalid]="!checked"
                                    variant="filled" />
                                <label
                                    class="text-[#1F2937] font-normal text-[14px] leading-none tracking-normal align-middle">Computer
                                    Style Sheets</label>
                            </div>

                            <div class="card flex items-center w-164.75 h-12.5 p-4 gap-2.5 bg-[#ECFDF5] pt-2.5">
                                <p-radiobutton [(ngModel)]="value" class="green-radio" variant="filled" />
                                <label
                                    class="text-[#1F2937] font-normal text-[14px] leading-none tracking-normal align-middle">Computer
                                    Style Sheets</label>
                            </div>

                        </div>



                    </div>

                </div>

                <!-- buttons -->
                <div class="flex gap-4 pt-4">
                    <div class="flex justify-center items-center bg-[#E5E7EB] w-120.75 h-11.5 gap-2.5 ">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2.25 9C2.25 10.335 2.64588 11.6401 3.38758 12.7501C4.12928 13.8601 5.18349 14.7253 6.41689 15.2362C7.65029 15.7471 9.00749 15.8808 10.3169 15.6203C11.6262 15.3599 12.829 14.717 13.773 13.773C14.717 12.829 15.3599 11.6262 15.6203 10.3169C15.8808 9.00749 15.7471 7.65029 15.2362 6.41689C14.7253 5.18349 13.8601 4.12928 12.7501 3.38758C11.6401 2.64588 10.335 2.25 9 2.25C7.11296 2.2571 5.30173 2.99342 3.945 4.305L2.25 6M6 6H2.25V2.25"
                                stroke="#1F2937" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <button
                            class="text-[#1F2937]  font-medium text-[14px] leading-none tracking-normal align-middle">Restart</button>
                    </div>

                    <div class="justify-center items-center bg-[#155DFC] w-120.75 h-11.5 flex gap-2.5">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.025 15.0001H3C2.60218 15.0001 2.22064 14.842 1.93934 14.5607C1.65804 14.2794 1.5 13.8979 1.5 13.5001V3.75007C1.5 3.35225 1.65804 2.97072 1.93934 2.68941C2.22064 2.40811 2.60218 2.25007 3 2.25007H5.925C6.17587 2.24761 6.42334 2.30811 6.64477 2.42604C6.86621 2.54396 7.05453 2.71554 7.1925 2.92507L7.8 3.82507C7.93658 4.03247 8.12252 4.20271 8.34113 4.32052C8.55973 4.43834 8.80417 4.50003 9.0525 4.50007H15C15.3978 4.50007 15.7794 4.65811 16.0607 4.93941C16.342 5.22072 16.5 5.60225 16.5 6.00007V9.07507M15.75 15.7501L14.325 14.3251M15 12.7501C15 13.9927 13.9926 15.0001 12.75 15.0001C11.5074 15.0001 10.5 13.9927 10.5 12.7501C10.5 11.5074 11.5074 10.5001 12.75 10.5001C13.9926 10.5001 15 11.5074 15 12.7501Z"
                                stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <button
                            class="text-[#FFFFFF] font-medium text-[14px] leading-none tracking-normal align-middle">Explore</button>
                    </div>
                </div>

            </div>
        </div>
    </div>