<div>
    <div
        class="flex flex-col justify-center items-center overflow-hidden w-full lg:w-180 h-auto lg:h-256 gap-2.5  bg-[#EFF6FFBF] backdrop-blur-[200px]">
        <div class="relative">
            <img class="absolute top-181.75 left-3.5 w-100.5 h-100.5 bg-[#50A2FF] blur-[200px] rounded-full "
                src="/images/Ellipse 12.png" alt="">
        </div>
        <div class="relative">
            <img class="absolute top-27.5 left-96.25 w-100.5 h-100.5 rounded-full bg-[#50A2FF] blur-[200px] opacity-70"
                src="/images/Ellipse 11.png" alt="">
        </div>
        <div class="w-114.5 h-198 z-10 ">
            <div class="flex items-center">
                <img class="w-10 h-10 p-1.5 gap-2.5" src="/images/folder-code.png" alt="Folder Code ">
                <span class="text-blue-600 font-semibold text-[20px]  tracking-normal align-middle">Exam App</span>
            </div>
            <div class="pt-32">
                <h1 class="font-inter font-bold text-[30px] text-[#1F2937] ">Empower your learning journey <br> with our smart exam
                    platform.</h1>
            </div>
            <div class="pt-14">
                <ul>
                    <li class="flex items-start pt-3">
                        <div>
                            <img class="w-9 h-9 border-[1.5px] border-[#155DFC] " src="/images/brain.png"
                                alt="brain icon">
                        </div>
                        <div>
                            <span class="text-[#155DFC] font-semibold text-[20px] p-4">Tailored Diplomas</span>
                            <p class="text-[#374151] ps-4">Choose from specialized tracks like <br> Frontend, Backend,
                                and
                                Mobile <br> Development.</p>
                        </div>
                    </li>
                    <li class="flex items-start pt-3">
                        <div class="pt-3">
                            <img class="w-9 h-9 border-[1.5px] border-[#155DFC] " src="/images/book.png"
                                alt="book icon">
                        </div>
                        <div class="pt-2">
                            <span class="text-[#155DFC] font-semibold text-[20px] p-4">Focused Exams</span>
                            <p class="text-[#374151] ps-4">Access topic-specific tests including <br> HTML, CSS,
                                JavaScript,
                                and
                                more.</p>
                        </div>
                    </li>
                    <li class="flex items-start pt-3">
                        <div class="pt-3">
                            <img class="w-9 h-9 border-[1.5px] border-[#155DFC] " src="/images/message.png"
                                alt="message icon">
                        </div>
                        <div class="pt-2">
                            <span class="text-[#155DFC] font-semibold text-[20px] p-4">Smart Multi-Step Forms</span>
                            <p class="text-[#374151] ps-4">Choose from specialized tracks like <br> Frontend, Backend,
                                and
                                Mobile <br> Development.</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>