<div class="row flex flex-wrap gap-26">
    <div class="co1-12 col-lg-6 w-full lg:w-180">
        <app-static-panel></app-static-panel>
    </div>

    <div class="co1-12 col-lg-6  w-full p-6 max-w-113 h-auto flex justify-center items-center">
        <form [formGroup]="PasswordForm" class="w-full max-w-113 h-auto" action="" (ngSubmit)="createAccount()">
            <div>
                <!-- steps shape -->
                <h2 class="font-inter font-bold text-[30px] text-[#1F2937]">Create Account</h2>
            </div>

            <div>
                <span class="font-inter font-bold text-2xl text-[#155DFC]">Create a strong password</span>
            </div>

            <!-- password and alert valedation mes -->
            <div>
                <!-- password input -->
                <div class="pt-6">
                    <label for="password" class="font-medium text-[#1F2937]">Password<span
                            class="font-medium text-[#DC2626]">*</span></label>
                    <p-password formControlName="password" inputId="password" placeholder="********" [feedback]="false"
                        [toggleMask]="true" fluid>
                    </p-password>
                </div>

                <!-- valedation password mes -->
                @let password = PasswordForm.get('password') ;
                @if (password?.errors && password?.touched) {
                <div class="max-w-md mx-auto space-y-4 pt-2">
                    <p-message severity="error" [closable]="false">
                        <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5 text-sm">
                            @if (password?.getError('required')) {
                            <li>Password is required</li>
                            }
                            @if (password?.getError('pattern')) {
                            <li>At least 1 uppercase letter</li>
                            <li>At least 1 lowercase letter</li>
                            <li>At least 1 number</li>
                            <li>At least 1 special character</li>
                            <li>Minimum 8 characters</li>
                            }
                        </ul>
                    </p-message>
                </div>
                }
            </div>

            <!-- password and alert valedation mes -->
            <div>
                <!-- confirm password input -->
                <div class="pt-3">
                    <label for="confirmPassword" class="font-medium text-[#1F2937]">Confirm Password<span
                            class="font-medium text-[#DC2626]">*</span></label>
                    <p-password formControlName="confirmPassword" inputId="confirmPassword" placeholder="********"
                        [feedback]="false" [toggleMask]="true" fluid>
                    </p-password>
                </div>

                <!-- valedation confirm password mes -->
                @let confirmPass = PasswordForm.get('confirmPassword') ;
                @if(confirmPass?.errors && confirmPass?.touched){
                <div class="max-w-md mx-auto space-y-4 pt-2">
                    <p-message severity="error" [closable]="false">
                        <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5 text-sm">
                            @if (confirmPass?.getError('required')) {
                            <li>Password is required</li>
                            }
                            @if (confirmPass?.getError('pattern')) {
                            <li>At least 1 uppercase letter</li>
                            <li>At least 1 lowercase letter</li>
                            <li>At least 1 number</li>
                            <li>At least 1 special character</li>
                            <li>Minimum 8 characters</li>
                            }
                        </ul>
                    </p-message>
                </div>
                }
            </div>

            <div class="pt-10">
                <button pButton type="submit"
                    class="w-full text-white font-medium text-sm bg-[#155DFC]! border-[#155DFC]! rounded-xl py-3">
                    Create Account
                </button>
            </div>

        </form>

    </div>
</div>